//Origin: https://github.com/primer/css/blob/v21.3.6/src/layout/container.scss

@use "../utilities/variables" as *;

.container-sm {
  width: -webkit-fill-available;
  width: -moz-available;
  width: stretch;
  max-width: $container-sm;
  margin-right: auto;
  margin-left: auto;
}

.container-md {
  width: -webkit-fill-available;
  width: -moz-available;
  width: stretch;
  max-width: $container-md;
  margin-right: auto;
  margin-left: auto;
}

.container-lg {
  width: -webkit-fill-available;
  width: -moz-available;
  width: stretch;
  max-width: $container-lg;
  margin-right: auto;
  margin-left: auto;
}

.container-xl {
  width: -webkit-fill-available;
  width: -moz-available;
  width: stretch;
  max-width: $container-xl;
  margin-right: auto;
  margin-left: auto;
}
