//$footer-background-color: $scheme-main-bis !default;
$footer-background-color: false !default;
$footer-color: false !default;
$footer-padding: 3rem 1.5rem 6rem !default;

.footer {
  padding: $footer-padding;
  @if $footer-color {
    color: $footer-color;
  }
  @if $footer-background-color {
    background-color: $footer-background-color;
  } @else {
    background-color: color-mix(in srgb, rgb(128, 128, 128) 30%, var(--bgColor-default));
  }
}
