// https://github.com/jgthms/bulma/blob/0.9.4/sass/utilities/initial-variables.sass

// The container horizontal gap, which acts as the offset for breakpoints
$gap: 32px !default;
// 960, 1152, and 1344 have been chosen because they are divisible by both 12 and 16
$tablet: 769px !default;
$desktop: 960px + (2 * $gap) !default;

$radius: 4px !default;
$radius-small: 2px !default;

$block-spacing: 1.5rem !default;
$rtl: false !default;

// https://github.com/jgthms/bulma/blob/0.9.4/sass/utilities/derived-variables.sass

$primary: var(--primary-color, hsl(171, 100%, 41%)) !default;

$size-small: 0.75rem !default;
$size-normal: 1rem !default;
$size-medium: 1.25rem !default;
$size-large: 1.5rem !default;

