@use "../utilities/variables" as v;

[data-color-mode=""], [data-color-mode=light] {
	  --fgColor-emphasis: #111;
}

[data-color-mode=dark] {
	  --fgColor-emphasis: #fff;
}

@media screen and (prefers-color-scheme: dark) {
    [data-color-mode=auto] {
	  --fgColor-emphasis: #fff;
    }
}
@media screen and not (prefers-color-scheme: dark) {
    [data-color-mode=auto] {
	      --fgColor-emphasis: #111;
    }
}

[data-color-mode] a {
	  color: var(--fgColor-saira-link, var(--fgColor-link, #{v.$link}));
}
