
/* 
 * This comes from Primer Components
 * https://github.com/primer/view_components/blob/v0.2.0/app/components/primer/beta/border_box.pcss
 */
.box {
  background-color: var(--bgColor-default, var(--color-canvas-default));
  border-color: var(--borderColor-default, var(--color-border-default));
  border-style: solid;
  border-width: var(--borderWidth-thin, 1px);
  border-radius: var(--borderRadius-medium, 6px);
  position: relative;

  /* Children are derived from Bulma .card:
   *
   * https://github.com/jgthms/bulma/blob/0.9.4/sass/components/card.sass
   */
  & .box-header {
	  align-items: stretch;
	  display: flex;

	  & .header-title {
		  align-items: center;
		  display: flex;
		  flex-grow: 1;
		  font-weight: var(--base-text-weight-semibold, 600);
		  padding: .75em;
	  }

	  & .header-icon {
		  align-items: center;
		  cursor: pointer;
		  display: flex;
		  justify-content: center;
		  padding: .75em;
	  }
  }

  & .box-footer {
	  align-items: stretch;
	  display: flex;

	  & .footer-item {
		  align-items: center;
		  display: flex;
		  flex-basis: 0;
		  flex-grow: 1;
		  flex-shrink: 0;
		  justify-content: center;
		  padding: .75em 0;
	  }
  }
}
